.spinner::before,
.spinner::after {
  -webkit-animation: spin 3s linear 0s infinite;
  animation: spin 3s linear 0s infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner::before, .spinner::after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}

.spinner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 6px white, 0 0 6px white inset;
  -webkit-box-shadow: 0 0 6px white, 0 0 6px white inset;
  box-shadow: 0 0 6px white, 0 0 6px white inset;
  border: 4px dotted white;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
}
.spinner::before {
  -moz-box-shadow: 10px 0px 5px -2px white, -10px 0px 5px -2px white inset;
  -webkit-box-shadow: 10px 0px 5px -2px white, -10px 0px 5px -2px white inset;
  box-shadow: 10px 0px 5px -2px white, -10px 0px 5px -2px white inset;
  border: 4px solid rgba(255, 255, 255, 0.5);
}
.spinner::after {
  -moz-box-shadow: 10px 0px 40px -2px rgba(255, 255, 255, 0.9), -10px 0px 40px -2px rgba(255, 255, 255, 0.9) inset;
  -webkit-box-shadow: 10px 0px 40px -2px rgba(255, 255, 255, 0.9), -10px 0px 40px -2px rgba(255, 255, 255, 0.9) inset;
  box-shadow: 10px 0px 40px -2px rgba(255, 255, 255, 0.9), -10px 0px 40px -2px rgba(255, 255, 255, 0.9) inset;
  border-right: 4px solid white;
}
